<link rel="stylesheet" href="/css/imagegrid.css">
<div class="imageGrid">
    <img src="/coke.png" class="coke_image">
    <div class="behind_dave"></div>
    <img src="/david.png" alt="david friedman" class="david">
    <img src="/pepsi_small.png" class="pepsi_image">
</div>
