<div class="navigation">
    <div class="link_block">
        <a href="/profile" {{#if profile}} class="current_page"{{/if}}>Add information to your profile</a>
        <a href="/edit"{{#if edit}} class="current_page"{{/if}}>Edit your profile</a>
        <a href="/petition"{{#if petition}} class="current_page"{{/if}}>Sign the petition</a>
        <a href="/thanks"{{#if thanks}} class="current_page"{{/if}}>Thanks page</a>
    </div>
</div>
