<link rel="stylesheet" href="/css/navigation.css">
<div class="navigation">

    <div class="nav_button logout">
    {{>logout}}
    </div>

    <div class="link_block">
        {{#if showProfile}}
        <div class="nav_button {{#if profile}} current_page{{/if}}">
            <a href="/profile" {{#if profile}} class="current_page"{{/if}}>profile</a>
        </div>
        {{else}}
        <div class="nav_button{{#if edit}} current_page{{/if}}">
            <img src="/gear.png" class="gear_icon">
            <a href="/edit"{{#if edit}} class="current_page"{{/if}}>edit</a>
        </div>
        {{/if}}

        {{#if showSig}}
        <div class="nav_button {{#if petition}} current_page{{/if}}">
            <a href="/petition"{{#if petition}} class="current_page"{{/if}}>sign petition</a>
        </div>
        {{else}}
        <div class="nav_button {{#if thanks}} current_page{{/if}}">
            <a href="/thanks"{{#if thanks}} class="current_page"{{/if}}>thanks</a>
        </div>
        <div class="nav_button {{#if signers}} current_page{{/if}}">
        <a href="/signers"{{#if signers}} class="current_page"{{/if}}>see <span class="count">{{count}}</span> other signers</a>
        </div>
        {{/if}}
    </div>
</div>
