<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition Page</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Public+Sans:400,700&display=swap" rel="stylesheet">

    </head>
    <body>

        {{{body}}}
            <footer><span>henry j. e. crookes - &copy; 2020</span></footer>
    </body>
</html>
