{{>outside_nav}}
{{>images}}
<div class="login_page container">

    <h2>Enter your email and password to log-in: </h2>
    <br>

    {{#if emailWrong}}
    <p id="error"> The email address used did not match password or does not exist. Please try again</p>
    {{/if}}
    {{#if passWrong}}
    <p id="error"> Incorrect password entered. <br> Please try again</p>
    {{/if}}

    <div class="flexy_column">
    <form method="post">

        <input type="text" name="email" placeholder="enter email address"><br>
        <input type="password" name="password" placeholder="enter new password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <button>LOG IN</button>
    </form>
</div>

</div>
