{{>navbar}}
{{>images}}
<div class="petition container">

     <h1 class="title pepsi">🥤 MAKE DAVID DRINK PEPSI 🥤</h1>
     <h2>Have you noticed, like myself, how David Friedman drinks a lot of CocaCola &trade;? </h2>

    <p class="description">I'm talking a serious buttload of the stuff. On average David gets through at least 3 to 4 bottles a day <strong>(That I have actually witnessed myself)</strong>. In a working year (not counting evenings and weekends) this totals to at least 1044 bottles.
    I believe that this creates an unfair market advantage, for what is undeniably an evil, nefarious corporation.
<br>
<br>
    I put forward this petition to convince David to switch to drinking Pepsi &trade; from this day forward and restore balance to the universe. Please sign if you care about this as much as I do.</p>
    <br>
    <h2 class="pepsi">PEPSI ! Live For Now !</h2>

    {{#if err}}
    <p id="error">You must provide a signature to continue!</p>
    {{/if}}

    <form  method="post">

        <div class="flexy_row">
            <p class="consent"> Click here if you want your name to be publicly available: </p>
            <input type="hidden" name="consent"  value="notclicked">
            <input type="checkbox" class="checkbox" name="consent" value="clicked">
        </div>

        <input class="sig" type="hidden" type="text" name="sig">
        <canvas id="canvas" width="450" height="250" name="canvas" border="3px solid black"></canvas>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="bottlecap">submit now</button>

    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="script.js"></script>
