<div class="profile container">
    {{>images}}
    <h2>Please add more information about yourself:</h2>
    <h3>(Feel free to move on if you do not want to include this information)</h3>

    <div class="flexy_column">
    <form method="post">

        <input class="textbox" type="text" name="age"  placeholder="enter age"><br>
        <input class="textbox" type="text" name="city" placeholder="enter city"><br>
        <input class="textbox" type="text" name="homepage" placeholder="enter homepage"><br>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <button>CONTINUE</button>
    </form>

</div>
{{>logout}}
