{{>navbar}}
{{>images}}
<div class="profile container">
    <h2>Please add more information about yourself:</h2>
    <h3>(Feel free to move on if you do not want to include this information)</h3>

    {{#if err}}
    <h2 id="error">Invalid input. Please try again.</h2>
    {{/if}}

    <div class="flexy_column">
    <form method="post">

        <input type="text" name="age"  placeholder="enter age"><br>
        <input type="text" name="city" placeholder="enter city"><br>
        <input type="text" name="homepage" placeholder="enter homepage"><br>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <button>CONTINUE</button>
    </form>

</div>
</div>
