<div class="signers container">
{{>images}}
    <br>

    <div>
    <ul>
        <br>
        {{#data}}
        <li>Name: {{this.first}} {{this.last}}.  - Time: {{this.t_stamp}} - Signature: </li><br>
        <img src="{{this.signature}}" class="results"><br>
        {{/data}}

        </ul>
    </div>
</div>
