<div class="thanks container">
    <h1>Thank you for signing the Petition</h1>
    <img src="/dogs.jpg" alt="funny meme thing" class="jpeg">
    <form method="post">
    <a href="/signers">click here to see others who signed</a>
</form>
</div>
