<div class="thanks container">
    <h1 class="title pepsi">Thank you <strong>{{first}}</strong> for signing the Petition</h1>
    {{#if sig}}
    <img src="{{sig}}" class="results"><br>
    {{/if}}

    <form method="post">
        <br>
    <p class="decription">click here to see others who signed</p>
    <button type="submit" name="booty">Click Me!</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>

</div>
