/* MAIN STYLING  */
* {
  box-sizing: border-box;
  margin: 0;
  font-size: 20px;
  font-family: "Public Sans", sans-serif;
  overflow: visible;
  cursor: url(http://cur.cursors-4u.net/food/foo-7/foo632.cur), auto !important;
}

body {
  width: 100%;
  background-color: #013668;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  height: 7vh;
  width: 100%;
  padding: 10px;
  bottom: 0;
  margin-top: 45px;
  /* border-top: 6px solid #001223; */
  /* background-color: #002242; */
  color: #dc411e;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: right;
}
footer span {
  position: relative;
  right: 10px;
}

h2 {
  width: 700px;
  margin: 30px auto 10px auto;
  font-size: 1.6rem;
  color: snow;
}
h3 {
  margin: 15px auto;
  font-size: 0.9rem;
  color: #d3d3d3;
}

a {
  color: #898989;
  font-size: 1.2rem;
}

button {
  display: block;
  border: 0;
  border-radius: 28px;
  margin: 30px auto;
  height: 60px;
  width: 250px;
  font-size: 0.8rem;
  color: #e5e5e5;
  font-weight: bold;
  letter-spacing: 5px;
  background-color: #d8315e;
}
/* CLASSES */

.container {
  max-width: 850px;
  align-self: center;
}

.pepsi {
  font-family: "pepsi";
  letter-spacing: 8px;
}

/* input fields */
.flexy_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexy_row {
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  justify-content: center;
}
input {
  height: 50px;
  width: 250px;
  padding: 20px;
  color: white;
  margin: 10px 5px;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 3px solid rgba(10, 180, 180, 1);
  background: rgba(20, 20, 20, 0.2);
}
input:focus {
  background: rgba(20, 20, 20, 0.2);
}
.consent {
  color: snow;
  font-size: 1.2rem;
  font-weight: bold;
  margin: auto 20px auto 20px;
}

input.checkbox {
  appearance: none;
  margin-left: 0;
  width: 25px;
  height: 25px;
}

a:hover {
  color: snow;
  font-size: 1.2rem;
  padding: 0;
}
/* SIGNERS PAGE */
.results {
  background-color: rgba(191, 191, 191, 0.3);
  border-radius: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 4px solid rgba(10, 180, 180, 1);
  border-left: 2px solid rgba(10, 180, 180, 1);
  border-right: 2px solid rgba(10, 180, 180, 1);
  height: 225px;
  width: 450px;
  margin-bottom: 10px;
}

.count {
  color: gold;
  font-weight: bold;
  font-size: 0.9rem;
}
.click_here {
  text-decoration: none;
}
.click_here:hover {
  font-size: 1.4rem;
}

/* ERROR*/
#error {
  font-size: 1.5rem;
  color: tomato;
  font-weight: bold;
  margin: 40px auto;
  max-width: 500px;
  line-height: 40px;
}

@font-face {
  font-family: "pepsi";
  src: url("/PEPSI_pl.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
